html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F8F8F8;
  overflow-y: scroll;
  scrollbar-width: none; 
  cursor: url('./../images/cursors/cursor.svg'), auto;
}

body::-webkit-scrollbar {
  display: none;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #111;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
button:hover  {
  cursor: url('./../images/cursors/cursor-click.svg'), auto;
  filter: brightness(0.95);

}

span:hover,
p:hover,
h1:hover {
  cursor: url('./../images/cursors/cursor-copy.svg'), auto;
}