.app {
}

.app-content {
  display: flex;
  flex-direction: column;
  
  min-height: 100%;
  width: 100%;

  background-color: #F8F8F8;
}

.no-blur-header {
  background-color: #F9F9F9;
  backdrop-filter: auto;
}

.no-scroll {
  overflow: hidden;
}