.app {
  width: 100%;

  background-color: #DBD3F8;
  padding: 10px;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  width: 100%;

  background-color: #F8F8F8;
}

.no-scroll {
  overflow: hidden;
}