.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.about-me header {
  display: flex;
  flex-direction: column;
  padding: 55px 0px;
  gap: 8px;
  width: 1100px;
}

.about-me header h1 {
 font-weight: 700;
 font-size: 24px;
}


.about-me header p {
  font-weight: 400;
  font-size: 16px;
  color: #636363;
 }

.about-me main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}


main .about-me-information .companies {
  display: none;    
}


main .about-me-information {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

main .about-me-information p {
  font-size: 16px;
  color: #636363;
  font-weight: 500;
  max-width: 400px;
  line-height: 140%;
}

main .about-me-information #talk-me {
  background: #7573DC;
  background: linear-gradient(90deg, #7573DC 0%, #9A62CF 50%, #8C73DC 100%);

  border: 1px solid #E2E2E2;
  border-radius: 200px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px; 

  width: 145px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.illustrations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.illustrations .wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  position: relative;
}

.illustrations .circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 233px;
  height: 233px;
  background-color: #5F48B199;
  border-radius: 50%;
  position: relative;
}

.circle.center {
  z-index: 2;
  width: 275px;
  height: 275px;
  background-color: #DAD0FF;
  position: absolute;
}


.about-me footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 45px;
  border-radius: 24px;
  margin-top: 35px;

  background-color: #F2F2F2;
  width: 1100px;
}

.about-me footer .companies-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.footer-mobile {
  display: none;
}


/* 🎉 Mobile version */

@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    padding: 0px 24px;
  }
  
  .about-me header {
    width: 100%;
    padding: 0px;
    margin-bottom: 24px;
  }
  
  .about-me main {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  

  main .about-me-information .companies {
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: scroll;
  }

  main .about-me-information #talk-me {
    width: 100%;
  }
  
  .illustrations {
    width: 100%;

    border-radius: 24px;
    padding: 20px 10px;
    background-color: #e4e3e396;
    margin-bottom: 24px;
  }

   
  .illustrations .bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .illustrations span {
    font-size: 12px;
    font-weight: 400;
  }
  
  .illustrations .wrapper-container {
    gap: 40px;
  }

  .wrapper-container .circle .circle-eye {
    width: 20px;
    height: 16px;
  }
  
  .illustrations .circle {
    width: 122px;
    height: 122px;
  }
  
  .about-me footer {
    width: 100%;
    margin-top: 20px;
    display: none;
  }

  .footer-mobile {
    display: flex;
    background-color: #e4e3e380;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
    border-top: 1px solid #d1cdcd;
  }
}