.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 80px;

  border-bottom: 1px solid #c9c9c9;

  position: fixed;
  top: 10px;
  width: calc(100% - 20px);
  background-color: transparent;
  backdrop-filter: blur(10px);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 99;

  animation: fadeIn 0.5s ease-in-out forwards;
}

.header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header .header-content .divider {
  width: 1px;
  height: 20px;
  background-color: #E0E0E0;
}

.header .menu-hamburger {
  display: none;
  cursor: pointer;
}

.menu-hamburger .menu-hamburger-button {
  background-color: #e4e3e380;
  border-radius: 12px;
  padding: 15px;

  border: none;
}

.header .header-content .social {
  display: flex;
  gap: 24px;
}


.header-content .social a {
  text-decoration: none;
  font-weight: 500;
}

.header-content .header-actions {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header-content .header-actions a:first-child {
  background-color: #F4F4F4;
  border: 1px solid #E2E2E2;
  padding: 10px 16px;
  border-radius: 16px;
}

.header-content .header-actions > a {

  color: #646464;
  font-weight: 700;
  font-size: 14px;
}

.lang-button {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.lang-button .switch {
  width: 55px;
  height: 32px;
  background-color: #FFFFFF; 
  border: 2px solid #33333343;  
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-en {
  background-color: #6A3EBE !important; 
  border: 2px solid #A576F2 !important;  
}

.switch-pt {
  background-color: #1C703C !important; 
  border: 2px solid #3dac68 !important;  
}

.toggle-thumb {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: left 3s ease;
}

.toggle-thumb-en {
  background-image: url('https://flagcdn.com/us.svg');
  box-shadow: 0 0 0 3px #A576F2;
}

.toggle-thumb-pt {
  background-image: url('https://flagcdn.com/br.svg');
  box-shadow: 0 0 0 3px #3dac68; 
}

.drawer-mobile {
  width: 0;
  height: 0;
  display: none;
  
  transition: 0.3s ease;
}


/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* 🎉 Mobile version */

@media (max-width: 768px) {
  .header { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
  }

  .header .header-content {
    display: none;
  }
  
  /* Mobile menu */
  .header .menu-hamburger {
    display: block;
  }

  .drawer-mobile {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 75px;
    left: 0;
    background-color: #F9F9F9;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% - 75px);
    width: calc(100vw - 20px);
    transform: translateY(-200%);
    margin-left: 10px;

    transition: 0.3s ease;
  }

  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  
    border-bottom: 1px solid #c9c9c9;
  
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .ghost-space {
    width: 24px;
    height: 24px;
  }

  .drawer-header .drawer-close {
    background-color: #e4e3e380;
    border-radius: 12px;
    padding: 15px;
    border: none;
  }

  .drawer-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0px 24px;
  }

  .drawer-links a {
    background-color: #e4e3e380;
    padding: 15px;
    border-radius: 16px;

    font-weight: 500;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  .drawer-language {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    color: #000000;
    font-size: 16px;
    padding: 16px;

    background-color: #e4e3e380;
    border-radius: 16px;

    margin: 24px;
  }

  /* change */
  .change {
    transform: translateY(0%);
    transition: 0.3s ease;
  }

  .oculte {
    display: flex;
  }
}